<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-label><ion-icon slot="start" name="grid"></ion-icon></ion-label>
      Update Mess</ion-title>
    <ion-buttons slot="primary">
      <ion-button [disabled]="!messForm.valid" (click)="updateMess()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row h-80p">
    <div class="col align-self-center">
      <ion-list [formGroup]="messForm">
        <ion-item class="form-group w-300px mx-auto">
          <ion-label position="floating" color="medium">Mess Name (Fixed)</ion-label>
          <ion-input type="text" readonly autocomplete="off" formControlName="messName"></ion-input>
        </ion-item>
        <ion-item class="form-group w-300px mx-auto">
          <ion-label position="floating" color="medium" >Location</ion-label>
          <ion-input type="text" autocomplete="off" formControlName="location"></ion-input>
        </ion-item>
        <ion-item class="form-group w-300px mx-auto">
          <ion-label position="floating" color="medium" >Update Time From</ion-label>
          <ion-datetime displayFormat="h:mm a" formControlName="updateFrom"></ion-datetime>
        </ion-item>
        <ion-item class="form-group w-300px mx-auto">
          <ion-label position="floating" color="medium" >Update Time To</ion-label>
          <ion-datetime displayFormat="h:mm a" formControlName="updateTo"></ion-datetime>
          <ion-text *ngIf="messForm.get('updateTo').touched &&
          messForm.hasError('timeInvalid')" class="text-danger sm-2">Update to must be greater</ion-text>
        </ion-item>
        <ion-item class="form-group w-300px mx-auto">
          <ion-label position="floating" color="medium" >Secret Code (4 characters)</ion-label>
          <ion-input type="text" autocomplete="off" formControlName="secretCode"
          [ngClass]="{
            'ng-invalid':
            messForm.get('secretCode').touched &&
              messForm.hasError('whiteSpaceCode')
          }"></ion-input>
        </ion-item>
      </ion-list>
      <div class="text-right mr-2">
        <ion-text class="pointer-curson" color="danger" (click)="deleteMess()">Delete Mess?</ion-text>
      </div>
    </div>
  </div>
</ion-content>
