<ion-header>
  <ion-toolbar  color="dark">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #PasswordChangeForm="ngForm" (ngSubmit)="ChangePassword()">
    <ion-list>
      <ion-item class="form-group w-300px mx-auto">
        <ion-label position="floating" color="medium">Old Password</ion-label>
        <ion-input minlength="6" required type="password" name="oldPassword" [(ngModel)]="oldPassword"></ion-input>
      </ion-item>
      <ion-item class="form-group w-300px mx-auto">
        <ion-label position="floating" color="medium">New Password</ion-label>
        <ion-input #password minlength="6" required type="password" name="newPassword" [(ngModel)]="newPassword"></ion-input>
      </ion-item>
      <ion-item class="form-group w-300px mx-auto">
        <ion-label position="floating" color="medium">Confirm New Password</ion-label>
        <ion-input minlength="6" required type="password" name="confirmPassword" 
        [(ngModel)]="confirmPassword"
        ></ion-input>
      </ion-item>
      <ion-button [disabled]="!PasswordChangeForm.valid || passwordMissMatch()" type="submit" color="dark" expand="block" class="w-300px mx-auto">Submit</ion-button>
    </ion-list>
  </form>
</ion-content>