<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Add/Withdraw Deposit
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list [formGroup]="depositForm">
          <ion-item>
            <ion-radio-group formControlName="depositType">
              <!-- <ion-list-header>
                <ion-label>Deposity Type</ion-label>
              </ion-list-header> -->
              <ion-item style="display: inline-block">
                <ion-label>Add</ion-label>
                <ion-radio slot="start" value="add"></ion-radio>
              </ion-item>
              <ion-item style="display: inline-block">
                <ion-label>Withdraw</ion-label>
                <ion-radio slot="start" value="withdraw"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item>
            <ion-select placeholder="Select One" class="full-width-select" formControlName="memberId">
              <ion-select-option *ngFor="let opt of members" [value]="opt.id">{{opt.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="medium">Amount</ion-label>
            <ion-input type="number" autocomplete="off" formControlName="depositAmount"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="medium">Date</ion-label>
            <ion-datetime displayFormat="MMM-DD-YYYY" formControlName="depositDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="medium">Remarks</ion-label>
            <ion-input type="text" autocomplete="off" formControlName="remarks"></ion-input>
          </ion-item>
        </ion-list>
        <div  class="text-center">
          <ion-button>
            Submit
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>