<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deposit history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" offset-md="1">
        <ion-select placeholder="Select One" value="January2020">
          <ion-select-option value="January2020">January 2020</ion-select-option>
          <ion-select-option value="February2020">February 2020</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6" class="text-right text-tertiary pr-2">
        <ion-label color="tertiary">{{selectedMember.memberName}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="4" offset-md="1">
        <ion-label color="medium">Date</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label color="success"><ion-icon slot="icon-only" name="add-circle"></ion-icon></ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label color="danger"><ion-icon slot="icon-only" name="remove-circle"></ion-icon></ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label color="primary"><ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let dp of selectedMemberdeposits">
      <ion-col size="6" size-md="4" offset-md="1">
        <ion-label>{{dp.depositDate|date:'mediumDate'}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{dp.depositType==='add'?dp.depositAmount:'-'}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>{{dp.depositType==='withdraw'?dp.depositAmount:'-'}}</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col offset-md="1">
          <ion-label>Add:{{getTotalAdd()}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Withdraw:{{getTotalWithdraw()}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            Balance:{{getTotalBalance()}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
