

.w-300px {
    width: 18rem !important;
}

.h-80p {
    min-height: 80% !important;
}

input.mobile-bd:before {
    content: "+880";
}

ion-toolbar ion-title {
    color: #fff;
}

.sm-2 {
    font-size: smaller !important;
}

.full-width-select{
    max-width: 100% !important;
  }
.flexbox-items-center{
    display: flex;
    height: 100px;
    align-items: center;
    cursor: pointer;
}
.flexbox-items-center div{
    text-align: center;
    line-height: 75px;
}
.pointer-curson{
    cursor: pointer;
}
.card
{
box-shadow:none !important
}
@media (max-width: 768px) {
    .hide-sm{
        display: none !important;
    }
}